
span.entry-category.cat-3 a,
.module-timeline article span.cat-3 a {
    color: #ef3434 !important;
}

.module-timeline article i.bullet-3 {
    background: #ef3434;
}

article.def-overlay span.entry-category.cat-3 a,
.top-grid-layout-9 #single-post-header-full header span.cat-3 a {
    color: #fff !important;
    background: #ef3434;
}

span.entry-category.parent-cat-3 a,
.module-timeline article span.parent-cat-3 a {
    color: #ef3434 !important;
}

.module-timeline article i.parent-bullet-3 {
    background: #ef3434;
}

article.def-overlay span.entry-category.parent-cat-3 a,
.top-grid-layout-9 #single-post-header-full header span.parent-cat-3 a {
    color: #fff;
    background: #ef3434;
}


span.entry-category.cat-4 a,
.module-timeline article span.cat-4 a {
    color: #f1a602 !important;
}

.module-timeline article i.bullet-4 {
    background: #f1a602;
}

article.def-overlay span.entry-category.cat-4 a,
.top-grid-layout-9 #single-post-header-full header span.cat-4 a {
    color: #fff !important;
    background: #f1a602;
}

span.entry-category.parent-cat-4 a,
.module-timeline article span.parent-cat-4 a {
    color: #f1a602 !important;
}

.module-timeline article i.parent-bullet-4 {
    background: #f1a602;
}

article.def-overlay span.entry-category.parent-cat-4 a,
.top-grid-layout-9 #single-post-header-full header span.parent-cat-4 a {
    color: #fff;
    background: #f1a602;
}


span.entry-category.cat-6 a,
.module-timeline article span.cat-6 a {
    color: #129ded !important;
}

.module-timeline article i.bullet-6 {
    background: #129ded;
}

article.def-overlay span.entry-category.cat-6 a,
.top-grid-layout-9 #single-post-header-full header span.cat-6 a {
    color: #fff !important;
    background: #129ded;
}

span.entry-category.parent-cat-6 a,
.module-timeline article span.parent-cat-6 a {
    color: #129ded !important;
}

.module-timeline article i.parent-bullet-6 {
    background: #129ded;
}

article.def-overlay span.entry-category.parent-cat-6 a,
.top-grid-layout-9 #single-post-header-full header span.parent-cat-6 a {
    color: #fff;
    background: #129ded;
}


span.entry-category.cat-7 a,
.module-timeline article span.cat-7 a {
    color: #47b0ed !important;
}

.module-timeline article i.bullet-7 {
    background: #47b0ed;
}

article.def-overlay span.entry-category.cat-7 a,
.top-grid-layout-9 #single-post-header-full header span.cat-7 a {
    color: #fff !important;
    background: #47b0ed;
}

span.entry-category.parent-cat-7 a,
.module-timeline article span.parent-cat-7 a {
    color: #47b0ed !important;
}

.module-timeline article i.parent-bullet-7 {
    background: #47b0ed;
}

article.def-overlay span.entry-category.parent-cat-7 a,
.top-grid-layout-9 #single-post-header-full header span.parent-cat-7 a {
    color: #fff;
    background: #47b0ed;
}


span.entry-category.cat-12 a,
.module-timeline article span.cat-12 a {
    color: #39ba75 !important;
}

.module-timeline article i.bullet-12 {
    background: #39ba75;
}

article.def-overlay span.entry-category.cat-12 a,
.top-grid-layout-9 #single-post-header-full header span.cat-12 a {
    color: #fff !important;
    background: #39ba75;
}

span.entry-category.parent-cat-12 a,
.module-timeline article span.parent-cat-12 a {
    color: #39ba75 !important;
}

.module-timeline article i.parent-bullet-12 {
    background: #39ba75;
}

article.def-overlay span.entry-category.parent-cat-12 a,
.top-grid-layout-9 #single-post-header-full header span.parent-cat-12 a {
    color: #fff;
    background: #39ba75;
}


span.entry-category.cat-13 a,
.module-timeline article span.cat-13 a {
    color: #30ba70 !important;
}

.module-timeline article i.bullet-13 {
    background: #30ba70;
}

article.def-overlay span.entry-category.cat-13 a,
.top-grid-layout-9 #single-post-header-full header span.cat-13 a {
    color: #fff !important;
    background: #30ba70;
}

span.entry-category.parent-cat-13 a,
.module-timeline article span.parent-cat-13 a {
    color: #30ba70 !important;
}

.module-timeline article i.parent-bullet-13 {
    background: #30ba70;
}

article.def-overlay span.entry-category.parent-cat-13 a,
.top-grid-layout-9 #single-post-header-full header span.parent-cat-13 a {
    color: #fff;
    background: #30ba70;
}



/* ==========================================================================
   Page Header
   ========================================================================== */


/**
 * Page Header
 */

#header-branding,
#header-branding h1,
#header-branding div.logo,
#header-branding .ad,
#header-branding .wrap-container {
    height: 115px;
    overflow: hidden;
}

/**
 * Top Navigation
 */

 #top-navigation {
     height: 35px;
 }


 /**
  * Header Navigation
  */

 #header-navigation {
     height: 50px;
     border-top-width: 0px;
     border-bottom-width: 0px;
     border-top-style: solid;
     border-bottom-style: solid;
     border-color: #d61403;
 }

 #header-navigation ul#menu-main-nav {
     height: 50px;
     overflow: hidden;
 }

 #header-navigation .dropnav-container .dropnav-menu li a:hover {
     background: #d61403;
 }

 #header-navigation a i.fa,
 #header-navigation a span.glyphicon,
 #header-navigation .subnav-container .subnav-menu li.current a {
     color: #d61403;
 }

 #header-navigation ul li a {
     padding-bottom: 0px;
 }

 #header-navigation ul li a.main-menu-link:after {
     height: 0px;
 }

 
.affix #main-menu span.sticky-logo,
.wrap-header-layout-none #main-menu span.sticky-logo {
    background: url(http://newsland.newsthemes.info/wp-content/uploads/2015/12/newsland_logo.png) no-repeat 0 50%;
    width: 260px;
}

.affix #main-menu ul.nav,
.wrap-header-layout-none #main-menu ul.nav {
    padding-left: 260px;
}


.affix #main-menu ul.nav li:first-child {
    display: none;
}

.affix #main-menu ul.nav ul.dropnav-menu li:first-child,
.affix #main-menu ul.nav ul.subnav-menu li:first-child {
    display: block;
}

 
/* Lightbox - close button */
body.admin-bar .on #pbCloseBtn {
  top: 30px;
}


/* ==========================================================================
   Pagination
   ========================================================================== */

.post-pagination a:hover,
.post-pagination .current {
    background: #d61403;
    border-color: #d61403;
}

.page-links a:hover {
    background: #d61403;
    border-color: #d61403;
    color: #fff;
}


/* ==========================================================================
   Article
   ========================================================================== */

/**
* Default
*/

#page-content header h2 em {
    font-style: normal;
    color: #d61403;
}

.article-post p a,
.main p a {
    color: #d61403;
}


/**
 * Comments
 */

.loop-cat-12 a.btn-fa-icon,
.loop-cat-12 .main article.def span.text a.more-link {
    background: #d61403;
}

.loop-cat-12 .main article.def div.entry-meta a {
    color: #d61403;
}


/**
 * Comments
 */

#comments-list li .comment-text header .reply a {
    color: #d61403;
}


/* Module Tags */

.module-tags li a {
    border-color: #d61403;
}

.module-tags li a span {
    background: #d61403;
}


/**
 * Rating
 */
/*
 .article-post .review,
 .meter-wrapper .meter {
     border-color: #d61403 !important;
 }
*/

.raty .star-on-png,
.raty .star-half-png {
    color: #d61403;
}

.noUi-connect {
    background: #d61403;
}

article.def-overlay span.entry-category {
    margin-bottom: 15px !important;
}


/* ==========================================================================
   VC Column Styles
   ========================================================================== */

/**
 * Style One
 */

.vc-block-fx .col-style-one .shadow-ver-right,
.vc-block-fx .col-style-two .shadow-ver-right,
.vc-block-fx .col-style-three .shadow-ver-right {
    background: none;
}

.vc-block-fx .col-style-one .shadow-box,
.vc-block-fx .col-style-two .shadow-box,
.vc-block-fx .col-style-three .shadow-box {
    background: none;
    padding-bottom: 10px;
}

.vc-block-fx .col-style-one .shadow-box:last-child,
.vc-block-fx .col-style-two .shadow-box:last-child,
.vc-block-fx .col-style-three .shadow-box:last-child {
    padding-bottom: 20px;
}


/* ==========================================================================
   Page Footer
   ========================================================================== */

#page-footer {
   border-color: #d61403;
}

#footer-section-top a {
    color: #d61403;
}


/* ==========================================================================
   WooCommerce
   ========================================================================== */

.woocommerce span.onsale {
    padding: 0;
}

.woocommerce ul.products li.product .star-rating {
    font-size: 1em;
}

.woocommerce .star-rating span {
    color: #d61403;
}

.woocommerce .star-rating:before {
    color: #999;
}

.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
    float: left;
    margin-left: 0;
    margin-right: 15px;
    width: 65px;
    height: auto;
    box-shadow: none;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
    font-size: 1.45em;
}

.woocommerce ul.products li.product .price {
    font-size: 1.15em;
}

.widget.woocommerce li div.star-rating {
    margin-top: 3px;
}

.widget.woocommerce li span.reviewer {
    font-size: 13px;
    display: inline-block;
    margin-top: 8px;
}

.widget.woocommerce li span.amount {
    font-weight: 700;
    color: #222;
    display: inline-block;
    margin-top: 8px;
}

.widget.woocommerce li del span.amount {
    font-weight: 400;
    color: #999;
    text-decoration: line-through;
}

.woocommerce #reviews #comments ol.commentlist {
    padding-left: 0;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
    font-size: 1.0em;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta strong {
    color: #222;
}

.woocommerce #reviews #comments ol.commentlist li img.avatar {
    width: 75px;
    padding: 0;
    border: none;
    background: none;
    margin-left: 15px;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
    margin: 0 0 0 120px;
    position: relative;
    line-height: 24px;
    padding: 25px;
    border: 1px solid #ededed;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text:before {
    position: absolute;
    display: block;
    content: "";
    width: 15px;
    height: 15px;
    background: #fff;
    border-left: 1px solid #ededed;
    border-top: 1px solid #ededed;
    margin-left: -34px;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.woocommerce #review_form #respond p.comment-form-rating {
    margin: 15px 0;
}


/* ==========================================================================
   bbPress
   ========================================================================== */

#bbpress-forums a {
   color: #d61403;
}

#bbpress-forums a.page-numbers:hover,
#bbpress-forums .page-numbers.current {
    background: #d61403;
    border-color: #d61403;
}

@media (min-width: 1170px) {

    /* ==========================================================================
       General
       ========================================================================== */

    /**
     * Wrappers and containers
     */

     /* ==========================================================================
        Articles
        ========================================================================== */

     /**
     * Photo Gallery One
     */

     .loop-page-7 .article-post .miptheme-photo-gallery-one {
        margin-left: -233px;
        margin-right: -30px;
     }


     /**
      * Article Review Template
      */

      #article-post-review-header header {
          padding-left: 295px;
      }

      #single-post-header-full.header-loop-page-7 header {
          text-align: left;
          padding-left: 345px;
      }

     .loop-page-7 .article-post .row-review-template {
         padding-left: 0;
         padding-right: 0;
         margin-left: -25px;
     }

     .loop-page-7 .article-post .row-review-template .col {
         padding: 0 25px;
     }

     .loop-page-7 .article-post .row-review-template .col-info {
         padding: 0;
         margin-top: -30px;
         min-height: 200px;
         background: url(../../images/vertical-right-shadow.png) no-repeat 100% 100%;
     }

     .loop-page-7 .article-post .row-review-template .col-has-poster {
         margin-top: -178px;
     }

     .article-post-review-meta {
         padding: 25px;
         margin-bottom: 0;
         border-bottom: none;
         background: url(../../images/top-left-shadow.png) no-repeat 100% 0;
     }

     .article-post-review-meta p {
         margin-bottom: 15px;
     }

     .article-post-review-meta p span {
         display: block;
     }

     .loop-page-7 .article-post .review {
         margin-left: -233px;
         margin-right: -30px;
     }

     /**
      * User Reviews
      */

      #comment-user-reviews {
          margin: 25px -25px;
          padding: 25px 10px !important;
      }



     /* ==========================================================================
        Categories
        ========================================================================== */

     .loop-cat-2.full-width .main .row,
     .loop-cat-3.full-width .main .row,
     .main .loop-cat-3.full-width .row,
     .loop-cat-4.full-width .main .row,
     .loop-cat-5.full-width .main .row,
     .loop-cat-6.full-width .main .row,
     .loop-cat-12.full-width .main .row {
         margin: 0 -25px 30px -26px;
     }

     .loop-cat-7.full-width .main .row,
     .loop-cat-8.full-width .main .row,
     .loop-cat-9.full-width .main .row,
     .loop-cat-10.full-width .main .row {
         margin: 0 -25px 1px -26px;
     }

     .loop-cat-2.full-width .main div.entry,
     .loop-cat-3.full-width .main div.entry,
     .main .loop-cat-3.full-width div.entry,
     .hide-sidebar.loop-cat-4.full-width .main div.entry,
     .loop-cat-5.full-width .main div.entry,
     .loop-cat-6.full-width .main div.entry {
         padding: 0 25px;
     }

}



@media (min-width: 1200px) {

    /* ==========================================================================
       General
       ========================================================================== */

    /**
     * Wrappers and containers
     */

    .main.article {
        padding: 25px;
    }

    #page-content.left-sidebar .main,
    #page-content.right-sidebar .main {
        width: 820px;
    }

    #page-content.left-sidebar .main,
    #page-content.right-sidebar .main,
    #page-content.hide-sidebar .main  {
        padding: 25px 25px 0 25px;
    }

    .sidebar {
        width: 348px;
        padding: 24px;
    }

    .main .section-full,
    #page-content.left-sidebar .main .section-full,
    #page-content.right-sidebar .main .section-full,
    #page-content.hide-sidebar .main .section-full {
       margin: 0 -25px 0 -25px;
    }


    /* ==========================================================================
       Page Slider
       ========================================================================== */

    /**
     * Default
     */


    #page-slider article .main .col-md-4 {
        padding-right: 28px;
    }

    #page-slider article .main h2 {
        font-size: 22px;
        line-height: 26px;
    }

    #page-slider article .main p {
        line-height: 20px;
    }


    /* ==========================================================================
       Articles
       ========================================================================== */

    /**
     * Default
     */

    article.def h2 {
        font-size: 28px;
        line-height: 36px;
        font-weight: 400;
    }

    article.def h3 {
        font-size: 18px;
        line-height: 24px;
    }

    article.def h4 {
        font-size: 16px;
        line-height: 20px;
    }

    article.def-medium figure.overlay figcaption div.entry-meta {
        padding: 7px 14px;
    }

    article.def-small figure.overlay figcaption div.entry-meta {
        padding: 5px 10px;
    }


    /* ==========================================================================
       Articles
       ========================================================================== */

   .loop-cat-12 .main article.def figure img {
       margin-bottom: -100px;
   }

   .loop-cat-12 .main article.def div.entry {
       padding: 20px 25px 25px 110px;
       margin: 0 25px 20px 25px;
   }

   .loop-cat-12 .main article.no-image div.entry {
       padding: 0 0 25px 110px;
       margin: 0;
   }

   .loop-cat-12 a.btn-fa-icon {
       display: block;
   }

   /**
    * Photo Gallery One
    */

    .article-post .miptheme-photo-gallery-one {
        position: relative;
        margin-top: 30px;
        margin-left: -25px;
        margin-right: -25px;
        padding-left: 270px;
    }

   .loop-page-7 .article-post .miptheme-photo-gallery-one {
       margin-left: -294px;
       margin-right: -36px;
       padding-left: 270px;
   }

   .hide-sidebar.loop-page-7 .article-post .miptheme-photo-gallery-one {
       margin-left: -411px;
       padding-left: 388px;
   }

   .miptheme-photo-gallery-one .gallery-info {
       position: absolute;
       top: 0;
       left: 0;
       width: 270px;
       height: 375px;
       margin-top: 0;
   }

   .hide-sidebar .miptheme-photo-gallery-one .gallery-info {
       width: 388px;
       height: 533px;
   }


   /**
    * Article Review Template
    */

    .article-post .review {
        margin-left: -25px;
        margin-right: -25px;
        padding-top: 5px;
    }

    .article-post .review .review-circle-wrapper {
        top: -85px;
    }

    .article-post .review .score-desc {
        margin-top: 85px;
    }

    .loop-page-7 .article-post .review {
        margin: 30px -36px 30px -294px;
        padding: 20px;
    }

    .hide-sidebar.loop-page-7 .article-post .review {
        margin-left: -411px;
    }

    .loop-page-7 .article-post .review .review-circle-wrapper {
        top: -100px;
    }

    .loop-page-7 .article-post .review h4 {
        margin-top: 0;
    }

    .loop-page-7 .article-post .review .score-desc {
        position: relative;
        margin-top: 80px;
        left: auto;
        top: auto;
    }

    /* ==========================================================================
       Custom Sections
       ========================================================================== */

    /**
     * Shadows
     */

    .vc-block-shadow .shadow-box {
        margin: 0 -25px;
        padding: 22px 25px;
    }

    /**
     * Headers
     */

    #page-content section header h2 {
        margin: 0 25px;
    }

    #page-content section .has-header header h2 {
        margin: 0;
    }

    .vc-block-fx #page-content section header h2 {
        padding: 0 25px;
        margin: 0;
    }

    /**
     * Section two
     */

    .section-two.section-full .def-medium .col-sm-6 {
        width: 253px
    }

    /**
     * Top Grid Layout Three
     */

     #top-grid.top-grid-layout-3.container .col-md-6 article.def:first-child img {
         height: 301px;
     }

}

@media (min-width: 1370px) {

    /* ==========================================================================
       General
       ========================================================================== */

    /**
     * Wrappers and containers
     */

    .container {
        width: 1340px;
    }

    #page-content.left-sidebar .main,
    #page-content.right-sidebar .main {
        width: 940px;
    }

    .sidebar {
        width: 398px;
    }


    /* ==========================================================================
       Articles
       ========================================================================== */

    /**
    * Default
    */

    article.def figure.overlay figcaption span.entry-comments {
        right: 10px;
        bottom: 5px;
    }

    article.def-medium figure.overlay figcaption span.entry-comments {
        right: 20px;
        bottom: 15px;
    }

    article.def-medium figure.overlay figcaption div.entry,
    article.def-medium figure.overlay figcaption div.entry div.entry-meta {
        padding: 25px 25px;
    }

    article.def-medium figure.overlay figcaption div.entry span.entry-comments {
        right: 25px;
        bottom: 25px;
    }

    .loop-cat article.def figure.overlay figcaption div.entry-meta {
        padding: 15px 20px;
    }


    /**
    * Photo Gallery One
    */

    .article-post .miptheme-photo-gallery-one {
        margin-left: -25px;
        padding-left: 310px;
    }

    .hide-sidebar .article-post .miptheme-photo-gallery-one {
        padding-left: 444px;
    }

    .loop-page-7 .article-post .miptheme-photo-gallery-one {
        margin-left: -334px;
        padding-left: 310px;
    }

    .hide-sidebar.loop-page-7 .article-post .miptheme-photo-gallery-one {
        margin-left: -467px;
        padding-left: 444px;
    }

    .miptheme-photo-gallery-one .gallery-info {
        width: 310px;
        height: 430px;
    }

    .hide-sidebar .miptheme-photo-gallery-one .gallery-info {
        width: 444px;
        height: 610px;
    }

    /**
     * Article Review Template
     */

     #single-post-header-full.header-loop-page-7 header {
         padding-left: 335px;
     }
     #single-post-header-full.hide-sidebar.header-loop-page-7 header {
         padding-left: 468px;
     }

     .loop-page-7 .article-post .review {
         margin-left: -334px;
         padding: 25px;
     }

     .hide-sidebar.loop-page-7 .article-post .review {
         margin-left: -467px;
     }


     /**
      * Top Grid Layout Three
      */

      #top-grid.top-grid-layout-3.container .col-md-6 article.def:first-child img {
          height: 344px;
      }

}
