/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 22-sep-2017, 0:01:47
    Author     : Gabriel
*/

/******************************************************************************/
/* Imports*/
/******************************************************************************/
@import "/EP/resources/assets/less/variables.less";


/******************************************************************************/
/* General */
/******************************************************************************/
*{
	outline:none !important;
}
*:not(i):not(.glyphicon){
	font-family: 'Roboto', sans-serif !important;
}
a:focus,
a:hover{
	text-decoration: none !important;
}
time{
	text-transform: capitalize;
}
.image-stylized{
	-webkit-filter: contrast(75%) saturate(80%);
	filter: contrast(75%) saturate(80%);
}
figure img{
	.image-stylized;
}
article.def figure.overlay a.thumb-overlay:before {
    height: 100% !important;
}
.article-post.clearfix {
    margin-bottom: 0px;
}
a[href^="mailto"]{
	color:@color-primary-light !important;
}
/* Image block */
article{
	figure{
		height: 100%;
		figcaption{
			height: 100%;
			.entry{
				height: 100%;
				position: relative;
				[itemprop=name]{
					height: 47%;
					display: block;
					overflow: hidden;
					text-overflow: ellipsis;
					bottom: 75px;
					position: absolute;
					left: 0;
					right: 0;
					margin-bottom: 0px;
					a{
						position: absolute;
						bottom: 0px;
						left: 0;
						right: 0px;
						padding: 5px;
					}
				}
				.entry-category{
					position: absolute;
					bottom: 35px;
					left: 0px;
					right: 0px;
				}
				.post-meta{
					position: absolute;
					bottom: 15px;
					left: 0px;
					right: 0px;
				}
			}
		}
		&>a{
			display: flex!important;
			justify-content: center;
			align-items: center;
			height: 100%;
			overflow: hidden;
			img{
				max-width: none !important;
				width:auto !important;
				height: 150% !important;
			}
		}
	}
	&>a{
		display: flex!important;
		justify-content: center;
		align-items: center;
		height: 100%;
		overflow: hidden;
		img{
			max-width: none !important;
			width:auto !important;
			height: 150% !important;
		}
	}
}





/******************************************************************************/
/* Top Menu */
/******************************************************************************/
#page-header {
    background-color: @color-primary-light-5;
}
#page-header-mobile {
    background-color: @color-primary;
}
.mm-menu {
    background:@color-primary;
}
#header-navigation {
    border-color:  @color-primary;
	background-color: @color-primary;
}
#header-navigation .dropnav-container .dropnav-menu li a {
    background: white;
    color: @color-primary;
	min-width: 160px !important;
}
#header-navigation .dropnav-container .dropnav-menu li a:hover {
    background: gray;
}
#header-navigation .dropnav-container .dropnav-menu li ul li:hover {
	cursor:pointer;
	&>a{
		color: @white !important;
		background:gray !important;
	}
}
#header-navigation a i.fa, #header-navigation a span.glyphicon, #header-navigation .subnav-container .subnav-menu li.current a {
    color: @color-primary;
}
#header-branding, #header-branding h1, #header-branding div.logo, #header-branding .ad, #header-branding .wrap-container {
    height: @height-menu;
	margin:0px !important;
	padding:0px !important;
}
#header-branding a {
    position: relative;
	height:	100%;
	display: flex;
    align-items: center;
}
.dropnav-container{
	border: solid 1px rgba(0,0,0,0.2);
    border-top: none;
}
.dropnav-container ul li ul{
	border: solid 1px rgba(0,0,0,0.2);
}
/*.dropnav-container ul li ul li:first-child{
	border-left: solid 2px white;
    position: relative;
    left: -1px;
}*/


#header-branding #search-form, #header-branding #search-form button {
    border-color: @white;
}
#header-branding #search-form input, #header-branding #search-form input::-webkit-input-placeholder {
    color: @white !important;
}
.logo-principal{
	height: calc(100% - 20px);
}
.logo-sticky{
	height:100%;
}
#input-search-menu{
	outline:none;
	color: white !important;
	border-radius: 2px;
}
#button-search-menu{
	outline:none;
	span{
		opacity:0.8;
		&:hover{
			opacity:1;
		}
	}
}
.menu-login,
.search-nav{
	a{
		i{
			color: white !important;
		}
		&:hover{
			background: white !important;
			i{
				color: #333333 !important;
			}
		}
	}

}
.soc-media{
	a i{
		color: white !important;
	}
	a:hover{
		background-color: transparent !important;
	}
	&:hover a{
		background: transparent !important;
	}
}
.logo-seaep{
	float: right !important;
    width: auto;
    position: absolute !important;
    right: 0px;
    top: 2px;
	height:100%;
	img{
		width:auto;
		height:90%;
	}
}
.dropdown-rrss{
	display: none;
}
@media(max-width:1370px){
	.soc-media{
		display:none !important;
	}
	.dropdown-menu-right {
		left: auto !important;
	}
	.dropdown-rrss{
		display: block !important;
	}
}

.affix #main-menu span.sticky-logo,
.wrap-header-layout-none #main-menu span.sticky-logo {
	background: none !important;
	width: @width-logo;
	margin-left:0px !important;
	img{
		height:100%;
		width:auto;
		padding:10px;
	}
}
&.affix ,
&.wrap-header-layout-none {
	#main-menu ul.nav{
		padding-left: @width-logo;
		li:first-child {
			display: block !important;
		}
	}
}
&.wrap-header-layout-none {
	#main-menu ul.nav{
		li a{
			background: transparent !important;
			color:white !important;
			&:hover{
				background: white !important;
				color:black !important;
			}
		}
	}
}
#header-navigation .dropnav-container .dropnav-menu li{
	a{
		background: transparent;
	}
	a:hover{
		color:white !important;
		i{
			color:white !important;
		}
	}
	&::after {
		color: grey !important;
	}
	&:hover::after {
		color: white !important;
	}
}
.search-nav{
	float:right;
	display:none !important;
	a{
		background-color: transparent !important;
		color: white !important;
		i{
			color: white !important;
		}
		&:hover{
			background: white !important;
			i{
				color: #333333 !important;
			}
			&::after{
				color: #333333 !important;
			}
		}

	}
	&.open{
		&:hover a{
			background-color: white !important;
			color: @color-primary !important;
		}
		& > a{
			background-color: white !important;
			i{
				color: @color-primary !important;
			}
		}
		.dropdown-toggle::after {
			color: @color-primary !important;
		}
	}
	.dropdown-menu-right{
		left:0px;
		border:none;
		padding:15px !important;
		min-width: 250px;
		#nav-search{
			margin-left: 0px !important;
			width: 100% !important;
		}
		.form-group{
			width:100%;
		}
		#input-search-menu{
			border: none !important;
			padding: 0px !important;
			margin: 0px !important;
			margin-left: 0px !important;
			position: relative;
			height: 100% !important;
			width: 100% !important;
			color: @color-primary-light !important;
		}
	}
}
.affix .search-nav{
	display:block !important;
}

#header-navigation ul li ul,
#header-navigation ul li ul li{
	box-shadow: none !important;
}
#header-navigation ul li  {
	position: relative;
	a {
		font-weight: normal !important;
	}
}
.menu-link.main-menu-link{
	padding: 0px 15px !important;
}
#main-menu{
	height: 100%;
}
.affix{
	.logo-seaep{
		display:none;
	}
}



/******************************************************************************/
/* Button to top*/
/******************************************************************************/
#btn-go-top {
	height: 40px;
	width: 40px;
	background: GREY;
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 1em;
	text-align: center;
	line-height: 40px;
	display: none;
	cursor: pointer;
	color: white;
	z-index: 999;
	border:solid 1px white;
}


/******************************************************************************/
/* Mobile Menu */
/******************************************************************************/
.logo-menu-mobile{
	height:40px;
	margin: 5px 0px;
}
#page-header-mobile .logo {
	text-align: left;
}


#page-header-mobile {
	position: fixed;
    width: 100%;
}




/******************************************************************************/
/* Left Menu */
/******************************************************************************/
.logo-menu-left{
	width: 100%;
	position: relative;
	display: block;
	z-index: 99;
	text-align: center;
	img{
		max-height:70px;
		width:auto;
		margin-top: 10px;
	}
}
#search-form-mobile{
	position: relative;
	button{
		border:none;
		outline:none;
		background: transparent;
		position: absolute;
		right: 20px;
		top: 15px;
		color: rgba(255,255,255,0.6);
	}
}
.mm-menu .mm-search input {
	background: rgba(255,255,255,0.4);
	color: @white;
	.placeholder(@white)
}
.mm-menu>.mm-search {
	width: 100%;
	margin-top: 15px;
	top: 0px;
	left: 0px;
}
#mobile-menu ul li{
	a , a.mm-subopen {
		border-left: 0px solid transparent;
	}
	a:hover {
		background: rgba(0,0,0,0.1);
	}
	a.mm-subopen:hover{
		background: transparent;
		&+a{
			background: rgba(0,0,0,0.1);
		}
	}
}
.nav>li>a:focus, .nav>li>a:hover {
	background-color: rgba(0,0,0,0.1);
}
#mobile-menu.mm-menu{
	.mm-list{
		padding-top: 150px!important;
		&>li:not(.mm-subtitle):not(.mm-label):not(.mm-search):not(.mm-noresults):after {
			margin-left: 0px;
			margin-right: 0px;
		}
		&>li.mm-subtitle:after {
			content: '';
			border-bottom-width: 1px;
			border-bottom-style: solid;
			display: block;
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			border-color: rgba(255, 255, 255, 0.1);
		}
		&>li:first-child:not(.mm-subtitle):not(.mm-label):not(.mm-search):not(.mm-noresults):before {
			content: '';
			border-bottom-width: 1px;
			border-bottom-style: solid;
			display: block;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			border-color: rgba(255, 255, 255, 0.1);
		}
		&>li:after {
			border-color: rgba(255,255,255,0.10);
		}
		&>li>a.mm-subopen:before {
			border-color: transparent;
		}
	}
	.mm-menu .mm-list>li>a.mm-subopen:after,
		.mm-menu .mm-list>li>a.mm-subclose:before {
		border-color: rgba(255,255,255,0.6);
	}
	a.mm-subopen {
		top: -1px;
		&+a, .mm-list a.mm-subopen+span {
			padding-right: 0px;
			margin-right: 0px;
		}
	}
}




/******************************************************************************/
/* Sidebar */
/******************************************************************************/
.module-timeline article.def {
	padding-left: 20px;
}
.pbThumbs li.active a img {
	border-color: @color-primary-light;
}





/******************************************************************************/
/* Aside Right */
/******************************************************************************/
#style-selector {
	box-shadow: none;
	border-left: solid 1px @color-primary;
	#style-selector-container{
		padding: 50px 40px;
	}
	.style-toggle {
		border: solid 1px @color-primary;
		border-right: solid 0px transparent;
		margin-top: 175px !important;
	}
	.ss-content{
		margin:0px;
	}
}
#style-selector .style-toggle:before {
	color: @color-primary-light !important;
	content: "\f003" !important;
}
.ss-title {
	color: @color-primary-light !important;
}
.buy-button {
	background-color: @color-primary-light !important;
	&:hover {
		background-color: @color-primary !important;
	}
}






/******************************************************************************/
/* Home */
/******************************************************************************/
#top-grid {
	/*margin: 50px auto 20px auto;*/
}
#top-content{
	.shadow-top-left{
		margin: 0px !important;
	}
	span.entry-category.parent-cat-3 a{
		color: @color-primary-light !important;
	}
}

.entry-category a{
	color: @color-primary-light !important;
}
#home-content{
	.articles{
		article{
			.col-sm-4{
				/*padding-left: 15px !important;*/
				padding-right: 15px !important;
			}
		}
	}
}
.main .content-container{
	padding-top: 20px!important;
}
.main .section-full{
	/*margin-right: -27px !important;*/
}
.last-section span.borderline:after {
	background-color: white !important;
}
.mip-ajax-nav a {
	color: @color-primary-light;
	border: 1px solid @color-primary-light;
	&:hover {
		background: @color-primary-light;
		border-color: @color-primary-light;
		color: #fff;
	}
	&.disabled:hover {
		color: @color-primary-light;
	}
}
.vc-block-fx #page-content header span.borderline:after {
	background-color: @color-primary-light;
}
@height-block:220px;
#top-grid{
	time.entry-date {
		margin-right: 0px;
	}
	> .row{
		[class^='col']{
			article{
				height: @height-block;
				overflow: hidden;
			}
		}
		.col-md-6{
			article{
				height:@height-block * 2;
			}
		}
	}
}
@height-block-content:200px;
#top-content{
	> .row{
		[class^='col']{
			article{
				height: @height-block-content;
				overflow: hidden;
			}
		}
	}
}
@height-block-home:150px;
#home-content{
	article{
		height: auto !important;
		overflow: hidden;
		[class^='col']:first-child{
			height:@height-block-home;
		}
		.text{
			margin-top:0px !important;
		}
	}
}
@height-block-faqs:200px;
#block-faqs{

	.mip-ajax-nav  {
		a {
			cursor: pointer;
			color: #2f5888;
			border: 1px solid #2f5888;
			&:hover {
				background-color: #2f5888;
				color: @white;
			}
			&.disabled {
				cursor:auto
			}
			&.disabled:hover {
				background-color:  @white;
				color:#2f5888;
			}
		}
	}

	@width-colum: 33.33%;
	.articles{
		overflow: hidden;
		article figure{
			height:@height-block-faqs;
		}
		.row{
			height:@height-block-faqs *2;
			[class^='col']{
				position:absolute;
				transition: left ease-out 0.4s;
				left:@width-colum*-1;
			}
		}

	}
	.entry-autor{
		margin-top: 10px;
		display: block;
		i{
			margin-right: 5px;
		}
	}
	.slider-page();
	margin-bottom:0px !important;
}
@height-block-rest:150px;
.three-articles,
.last-section {
	.articles{
		article figure{
			height: @height-block-rest;
		}
	}
}
@size-block-last:180px;
.module-reviews {
	article figure{
		margin:10px auto;
		height: @size-block-last !important;
		width: @size-block-last !important;
	}
}
@size-block-archive:100px;
.block-archive {
	figure{
		height: @size-block-archive !important;
	}
}
@size-block-gallery:220px;
.gallery-sidebar {
	article{
		height: @size-block-gallery !important;
		overflow:hidden;
		a{
			height: @size-block-gallery !important;
		}
	}
	[class^='col']{
		article{
			height: calc(@size-block-gallery ~'/2') !important;
			a{
				height: calc(@size-block-gallery ~'/2') !important;
			}
		}
	}
}
@size-block-category:60px;
.sidebar-category{
	figure{
		height: @size-block-category !important;
	}
}




/******************************************************************************/
/* Search */
/******************************************************************************/
.page-search{
	@media (min-width: 992px){
		article.def {
			margin-left: 200px !important;
			min-height: 280px;
			time.entry-date {
				position: absolute;
				left: -300px;
				top: 8px;
				width: 270px;
				text-align: right;
			}
			time.entry-date:before {
				content: '';
			}
			time.entry-date:after {
				font-family: "FontAwesome";
				font-size: 18px;
				content: '\f133';
				background: #fff;
				color: #bbb;
				top: 17px;
				position: absolute;
				right: -38px;
				top: -1px;
			}
			figure {
				position: absolute;
				left: -185px;
				top: 28px;
				width: 270px;
			}
		}
	}
	.search-form{
		margin-bottom: 50px;
		input[type=text]{
			color: @color-primary-light !important;
		}
	}
	article.def {
		border-left: 1px solid #eee;
		padding: 0 0 20px 30px;
		margin: 0 0 0 5px;
		h3{
			margin-bottom: 0px !important;
		}
		.subtitle{
			margin-bottom: 10px;

		}
		time.entry-date {
			display: inline-block;
			margin-bottom: 10px;
		}
		time.entry-date:before {
			font-size: 20px;
			margin: 0 20px 0 -40px;
			background: #fff;
			color: #bbb;
			top: 19px;
			position: absolute;
		}
		figure{
			height:150px;
			width:150px;
			margin-top: 5px;
			margin-bottom: 0px;
			img{
				height: 130% !important;
			}
		}
		div.text {
			margin-top: 10px;
		}
		div.entry-meta a {
			visibility: visible;
			opacity: 1;
		}
	}
	mark {
		padding: 1px;
		background-color: #444444;
		color:white;
	}
	.container-404{
		padding:0px;
	}
}



/******************************************************************************/
/* Item View */
/******************************************************************************/
.breadcrumb {
	margin: 10px 0 25px 0;
}
.post-navigation{
	padding:0px;
	margin:50px 0px;
}

.image-item.head-image{
	height:400px;
	width:100%;
	overflow:hidden;
	display:flex;
	justify-content:center;
	align-items:center;
	img{
		height:150%;
		width:auto;
		max-width: none;
	}
}
.article-post header .entry-meta {
	text-transform: capitalize;
}
.article-post .article-post-content a{
	color: @color-primary-light !important;
	font-weight: bold !important;
}
.author-box{
	background-color: #e9e9e9;
	margin-bottom: 50px;
	.div-avatar {
		position: absolute;
		left: 30px;
		z-index: 1;
		border-radius: 50%;
		border: 3px solid #fff;
		box-shadow: 0px 3px 0px 0px #ddd;
		height: 120px;
		width: 120px;
		overflow: hidden;
		a{
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			img{
				max-width: none !important;
				width: auto !important;
				height: 130% !important;
				left:auto;
				right:auto;
			}
		}
	}
}
@size-block-related:160px;
#related-posts{
	figure{
		height: @size-block-related !important;
	}
}
#others-viewed{
	header{
		margin: 0px;
	}
	.row {
		margin-top: 20px;
		&::after{
			display:none;
		}
	}
	.entry{
		top: 0px;
		width: 100%;
		margin: 0px;
		padding: 0px;
		.entry-category::before {
			display:none;
		}
	}
	.entry-category a{
		color: @color-primary-light !important;
	}
	.shadow-box{
		padding-top:0px;
	}
	figure{
		height: @size-block-related !important;
	}
	[class^='col']:last-child{
		border-right: 0px;
	}
}
#others-viewed.home-others-viewed{
	.entry-category a{
		color: white !important;
	}
}



/******************************************************************************/
/* Category View */
/******************************************************************************/
.search-category{
	input[type=text]{
		width:100%;
	}
}
.filter-category{
	.btn-group{
		width:100%;
		button{
			border: 1px solid #D3D8D9 !important;
			line-height: 38px;
			height: 40px;
			background: transparent;
			padding: 0 5px;
			width:45%;
			box-shadow: none!important;
			float: right;
			border-radius: 0px;
			&:hover{
				border: 1px solid #D3D8D9 !important;
				background: transparent;
			}
			&:focus{
				border: 1px solid #D3D8D9 !important;
			}
			span{
				color:#D3D8D9;
				position: relative;
				top: 2px;
				left: 3px;
			}
		}
	}
}
@size-image-item:200px;
.article-post .h2-categories{
	margin: 0px !important;
	margin-top: 20px !important;
}
.h2-categories{
	font-size: 2em!important;
	color: #5c5c5c !important;
	margin-top: 20px !important;
	a{
		color: #5c5c5c !important;
	}
}
.h2-categories.item{
	font-size: 1.5em!important;
}
.page-categories{
	.row {
		margin: 0;
		article.def {
			margin-bottom: 0px;
			width: 100%;
			figure{
				height: @size-image-item !important;
				&> a img {
					max-width: 150% !important;
					width: 150% !important;
					height: auto !important;
				}
			}
			figure.overlay figcaption div.entry-meta {
				padding: 10px 14px;
			}
			div.entry {
				position: relative;
				top: -60px;
				z-index: 10;
				padding: 10px 15px 15px 15px;
				margin: 0 20px 10px 20px;
				background: #fff;
				.entry-category::before {
					font-family: "FontAwesome";
					content: '\f044';
					margin-right: 8px;
				}
				a{
					opacity:1;
					visibility: visible;
				}
			}
			h2 {
				margin-top: 0 !important;
			}
			span.text {
				display: block;
				line-height: 20px;
				margin: 15px 0 0 0;
			}
			span.text a.more-link {
				background: #d61403;
				display: inline-block;
				margin: 0px;
				padding: 0 15px;
				line-height: 30px;
				color: #fff;
				background: #444;
			}
		}
	}
	a.btn-fa-icon, article.def span.text a.more-link {
		background: #d61403;
	}
}
.read-more-category{
	a{
		font-size: 1em;
		text-align: center;
		background: grey;
		color: white !important;
		padding: 10px;
		display: block;
	}
}
.page-static .back-home{
	margin: 50px auto;
	a{
		font-size: 1em;
		text-align: center;
		background: grey;
		color: white !important;
		padding: 10px;
		display: block;
		color: white !important;
	}
}



/******************************************************************************/
/* Author page */
/******************************************************************************/
.author-items{
	h1{
		font-size: 1em;
		text-align: center;
		width:100%;
	}
	[class^='col']{
		padding-left:5px !important;
		padding-right:5px !important;
	}
	.def.def-medium{
		margin-bottom:30px;
	}
}

#author-team-page{
	.author-box{
		&>a{

			height: 115px;
			width: 115px;
			display: block;
			position: absolute;
			left: 30px;
			overflow: hidden;
			z-index: 1;
			border-radius: 50%;
			border: 3px solid #fff;
			box-shadow: 0px 3px 0px 0px #ddd;
			display:flex;
			justify-content:center;
			align-items:center;
			img{
				left:auto;
				height:130%;
				width:auto;
				max-width: none;
			}
		}
		p.name{
			margin-bottom: 0px;
		}
	}
}



/******************************************************************************/
/* Static page */
/******************************************************************************/
.page-static{
	a,
	h2,
	b{
		color: @color-primary-light !important;
	}
	h2{
		font-size: 1.5em;
	}
	ul li{
		list-style-type: none;
	}
}





/******************************************************************************/
/* Contact page */
/******************************************************************************/
#form-contact{
	width:60%;
	margin:30px auto;
}
#map-contact{
	width:100%;
	height:150px;
	margin:30px auto 0px;
	.gmnoprint {
		display: none;
	}
	.gm-style-cc {
		display: none;
	}
	img[src="https://maps.gstatic.com/mapfiles/api-3/images/google4.png"]{
		display: none;
	}
}
#submap-contact{
	width: 100%;
	margin:0px;
	background: #444444;
	padding: 2px 10px;
	p{
		color:white;
		margin:0px;
		&.title{
			border-bottom:solid 1px rgba(255,255,255,0.3);
			margin-bottom:5px;
		}
	}
}





/******************************************************************************/
/* Forms */
/******************************************************************************/
.ss-content {
	border-top: 1px solid #ddd;
	padding-top: 25px;
}
.form-contact{
	h1.response{
		color: @color-primary-light;
		font-size: 1em;
		border-bottom: solid 1px @color-primary-light;
		width: 100%;
		text-align: center;
		padding: 3px;
		margin: 10px auto;
	}
	label{
		width:100%;
		display:block;
		margin-bottom: 0px;
		font-weight: normal;
	}
	.field{
		width:100%;
		display:block;
		padding:2px 5px;
		margin-bottom:10px;
		border: 1px solid #D3D8D9;
		border-radius: 2px;
	}
	input[type="submit"]{
		height: 30px;
		line-height: 30px;
		font-size: 1em;
	}
}



/******************************************************************************/
/* Footer */
/******************************************************************************/
#page-footer {
	border-bottom: 0px solid transparent;
	.copyright{
		background-color: #444444;
	}
}
.links-footer{
	[class^='col']{
		h3{
			font-size: 1em;
			text-align: left;
			width: 50%;
			font-weight: bold;
			text-transform: uppercase;
			margin-top:10px;
			margin-bottom:10px;
			margin-left: 40px;
			text-align: left;
		}
		ul{
			li{
				text-align: left;
				list-style: none;
			}
		}
	}
}
#footer-section-bottom {
	padding: 40px 0;
	.widget{
		margin-top: -20px;
	}
	.seaep{
		margin-bottom: 20px;
		width:300px;
		height:auto;
	}
}




/******************************************************************************/
/* 404 */
/******************************************************************************/
.container-404{
	padding: 100px 0px 80px;
	img{
		width: 150px !important;
		height: auto;
		margin: 20px auto;
	}
	h1{
		font-size: 10em;
		line-height: 1em;
		text-align: center;
		margin: 0px;
	}
	h3{
		margin: 0px;
		position: relative;
		text-align: center;
		top: -10px;
	}
	h5{
		margin:0px;
		text-align: center;
	}
	a{
		color: @color-primary-light !important;
	}
}




/******************************************************************************/
/* Cookies Bar */
/******************************************************************************/
#cookies-bar {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	z-index: 999999;
	display: block;
	border-top: solid 2px @color-primary;
}
#cookies-bar #infobox {
	margin: auto;
	position: relative;
	top: 0px;
	height: auto;
	width: 100%;
	text-align:center;
	background-color: @white;
	color: @color-primary;
	padding: 7px 15px;
}
#cookies-bar #infobox p {
	font-size:12px;
	text-align:center;
	margin-bottom: 0px;
	line-height: 25px;
}
#cookies-bar #infobox p a {
	color: @color-primary;
}
#cookies-bar #infobox .btn-accept {
	margin-left: 5px;
	background-color: @color-primary;
	color: white;
	padding: 4px 15px;
	border-radius:2px;
	cursor:pointer;
	position: relative;
    top: -1px;
}