/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 22-sep-2017, 0:01:47
    Author     : Gabriel
*/

/******************************************************************************/
/* Variables */
/******************************************************************************/


/* SIZES */
@height-menu: 70px;
@width-logo: 50px;
@height-block-top:200px;
@height-block-content:200px;
@height-block-home:150px;



/* COLOURS */
@red: #cc1302;
@blue: #15273c;
@white: #FFFFFF;
@color-primary: @blue;
@color-secondary: @white;
@color-primary-light-5: lighten(@color-primary, 5%);
@color-primary-light: lighten(@color-primary, 20%);
@color-primary-lighten: lighten(@color-primary, 40%);
@color-primary-traslucent: lighten(@color-primary, 60%);
@color-primary-dark: darken(@color-primary, 20%);
@color-primary-darken: darken(@color-primary, 40%);
@color-secondary-light: lighten(@color-secondary, 20%);
@color-secondary-lighten: lighten(@color-secondary, 40%);
@color-secondary-dark:  darken(@color-secondary, 20%);
@color-secondary-darken:  darken(@color-secondary, 40%);


/* FUNCTIONS*/
.placeholder(@color){
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: @color;
	}
	&::-moz-placeholder { /* Firefox 19+ */
		color: @color;
	}
	&:-ms-input-placeholder { /* IE 10+ */
		color: @color;
	}
	&:-moz-placeholder { /* Firefox 18- */
		color: @color;
	}
}
.slider-page(){
	&[data-page="1"]{
		.articles{
			.row{
				[class^='col']{
					&:nth-child(1){
						left:@width-colum*0;
					}
					&:nth-child(2){
						left:@width-colum*1;
					}
					&:nth-child(3){
						left:@width-colum*2;
					}
					&:nth-child(4){
						left:@width-colum*3;
					}
					&:nth-child(5){
						left:@width-colum*4;
					}
					&:nth-child(6){
						left:@width-colum*5;
					}
					&:nth-child(7){
						left:@width-colum*6;
					}
					&:nth-child(8){
						left:@width-colum*7;
					}
					&:nth-child(9){
						left:@width-colum*8;
					}
					&:nth-child(10){
						left:@width-colum*9;
					}
					&:nth-child(11){
						left:@width-colum*10;
					}
					&:nth-child(12){
						left:@width-colum*11;
					}
				}
			}
		}
	}

	&[data-page="2"]{
		.articles{
			.row{
				[class^='col']{
					&:nth-child(1){
						left:@width-colum*-3;
					}
					&:nth-child(2){
						left:@width-colum*-2;
					}
					&:nth-child(3){
						left:@width-colum*-1;
					}
					&:nth-child(4){
						left:@width-colum*0;
					}
					&:nth-child(5){
						left:@width-colum*1;
					}
					&:nth-child(6){
						left:@width-colum*2;
					}
					&:nth-child(7){
						left:@width-colum*3;
					}
					&:nth-child(8){
						left:@width-colum*4;
					}
					&:nth-child(9){
						left:@width-colum*5;
					}
					&:nth-child(10){
						left:@width-colum*6;
					}
					&:nth-child(11){
						left:@width-colum*7;
					}
					&:nth-child(12){
						left:@width-colum*8;
					}
				}
			}
		}
	}
	&[data-page="3"]{
		.articles{
			.row{
				[class^='col']{
					&:nth-child(1){
						left:@width-colum*-6;
					}
					&:nth-child(2){
						left:@width-colum*-5;
					}
					&:nth-child(3){
						left:@width-colum*-4;
					}
					&:nth-child(4){
						left:@width-colum*-3;
					}
					&:nth-child(5){
						left:@width-colum*-2;
					}
					&:nth-child(6){
						left:@width-colum*-1;
					}
					&:nth-child(7){
						left:@width-colum*0;
					}
					&:nth-child(8){
						left:@width-colum*1;
					}
					&:nth-child(9){
						left:@width-colum*2;
					}
					&:nth-child(10){
						left:@width-colum*3;
					}
					&:nth-child(11){
						left:@width-colum*4;
					}
					&:nth-child(12){
						left:@width-colum*5;
					}
				}
			}
		}
	}
	&[data-page="4"]{
		.articles{
			.row{
				[class^='col']{
					&:nth-child(1){
						left:@width-colum*-9;
					}
					&:nth-child(2){
						left:@width-colum*-8;
					}
					&:nth-child(3){
						left:@width-colum*-7;
					}
					&:nth-child(4){
						left:@width-colum*-6;
					}
					&:nth-child(5){
						left:@width-colum*-5;
					}
					&:nth-child(6){
						left:@width-colum*-4;
					}
					&:nth-child(7){
						left:@width-colum*-3;
					}
					&:nth-child(8){
						left:@width-colum*-2;
					}
					&:nth-child(9){
						left:@width-colum*-1;
					}
					&:nth-child(10){
						left:@width-colum*0;
					}
					&:nth-child(11){
						left:@width-colum*1;
					}
					&:nth-child(12){
						left:@width-colum*2;
					}
				}
			}
		}
	}
}