/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 22-sep-2017, 0:01:47
    Author     : Gabriel
*/
@media all and (min-width: 1200px) {
  .breadcrumb {
    margin: 20px 0 35px 0;
  }
  #style-selector .style-toggle {
    margin-top: 195px !important;
  }
  #style-selector #style-selector-container {
    padding: 78px 40px;
  }
  .container {
    max-width: none;
    margin: 0 auto;
  }
  #top-grid > .row [class^='col'] article {
    height: 250px;
  }
  #top-grid > .row .col-md-6 article {
    height: 500px;
  }
  #top-content > .row [class^='col'] article {
    height: 250px;
  }
  #home-content article [class^='col']:first-child {
    height: 200px;
  }
  #block-faqs .articles article figure {
    height: 250px;
  }
  #block-faqs .articles .row {
    height: 500px;
  }
  .three-articles .articles article figure,
  .last-section .articles article figure {
    height: 200px;
  }
  #map-contact {
    height: 200px;
  }
  .page-categories .row article.def figure {
    height: 300px !important;
  }
  .article-post header .entry-meta {
    margin-top: 20px;
  }
}
@media all and (max-width: 991px) {
  /*	#page-content{
			margin-top: 50px !important;
		}*/
  .content-container {
    margin-top: 50px !important;
  }
  article figure > a img {
    width: 150% !important;
    height: auto !important;
  }
  .sidebar-border .sidebar {
    border-top: dashed 1px !important;
    padding-top: 50px;
  }
  .sidebar-border .sidebar article > a img {
    width: 150% !important;
    height: auto !important;
  }
  .sidebar-border .sidebar .module-photos {
    max-width: 100% !important;
  }
  .sidebar-border .sidebar .module-timeline article.def {
    padding-left: 35%;
  }
  .page-search .def.def-medium {
    display: flex;
    flex-direction: row-reverse;
    padding: 0px;
    margin-bottom: 30px;
  }
  .page-search .def.def-medium .entry {
    display: inline-block;
    width: 80%;
    padding: 0px 20px;
  }
  .page-search .def.def-medium figure {
    display: inline-block;
    width: 20%;
    margin-top: 0px !important;
  }
  .article-post .soc-media-sharing {
    display: flex;
    justify-content: center;
  }
  .post-navigation .text-right {
    margin-top: 10px !important;
    text-align: left !important;
  }
}
@media all and (max-width: 768px) {
  .container {
    max-width: 100%;
  }
  #top-grid {
    margin-bottom: 0px !important;
  }
  #top-grid > .row .col-md-6 article {
    height: 250px !important;
  }
  #top-grid > .row [class^='col'] article {
    height: 250px !important;
  }
  #top-content > .row .col-md-6 article {
    height: 250px !important;
  }
  #top-content .shadow-top-left {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  #page-content {
    border: none !important;
  }
  #block-faqs .articles .row {
    height: 350px;
  }
  #block-faqs article figure > a img {
    width: 170% !important;
  }
  .vc-block-border .shadow-top-left {
    border-top: 1px solid #e9e9e9 !important;
  }
  .three-articles [class^='col'] {
    width: 100% !important;
    max-width: 100% !important;
  }
  .three-articles [class^='col'] article:not(.def-small) {
    display: flex;
    align-items: center;
  }
  .three-articles [class^='col'] article:not(.def-small) figure {
    width: 40% !important;
    display: inline-block !important;
    margin-bottom: 0px !important;
  }
  .three-articles [class^='col'] article:not(.def-small) .entry {
    width: 60% !important;
    display: inline-block !important;
    padding: 10px 20px !important;
  }
  .three-articles [class^='col'] article.def-small .col-xs-5 {
    width: 40% !important;
    padding-right: 0px !important;
  }
  .three-articles [class^='col'] article.def-small .col-xs-7 {
    width: 60% !important;
    display: inline-block !important;
    padding: 10px 20px !important;
  }
  .module-photos .gallery-sidebar [class^='col'] article {
    height: 150px !important;
  }
  .module-photos .gallery-sidebar [class^='col'] article a {
    height: 150px !important;
  }
  #page-footer #footer-section-top [class^='col'] {
    width: 100% !important;
    max-width: 100% !important;
    flex-basis: auto !important;
    margin-bottom: 10px !important;
    padding: 0px 20px !important;
  }
  #page-footer #footer-section-top .links-footer {
    margin-top: 10px !important;
  }
  .page-search .def.def-medium .entry {
    width: 100%;
  }
  .page-search .def.def-medium figure {
    width: 0%;
  }
  .page-search .entry-date:before {
    top: -5px !important;
    left: 30px !important;
  }
  .div-avatar {
    display: block !important;
    position: relative !important;
    margin: 0 auto 10px !important;
    left: auto !important;
  }
}
@media all and (max-width: 578px) {
  .logo-menu-left img {
    max-height: auto !important;
    height: auto !important;
    width: 100% !important;
  }
  #top-content .col-sm-4 {
    margin-bottom: 10px !important;
  }
  #block-faqs .articles .row {
    height: auto !important;
    margin-bottom: 10px !important;
  }
  #block-faqs .col-sm-4 {
    width: 100% !important;
    max-width: 100% !important;
    left: auto !important;
    position: relative !important;
    display: none !important;
  }
  #block-faqs .col-sm-4:nth-child(1) {
    display: block !important;
  }
  #block-faqs .col-sm-4:nth-child(2) {
    display: block !important;
  }
  #block-faqs .col-sm-4:nth-child(3) {
    display: block !important;
  }
  .h2-categories + .entry-meta > * {
    display: block !important;
    margin: 0px !important;
  }
  .image-item.head-image {
    height: 300px !important;
  }
  .filter-category .btn-group button {
    width: 50% !important;
  }
  #footer-section-bottom img {
    padding: 0px 20px !important;
  }
  .copyright .text-right {
    text-align: center !important;
  }
  #author-team-page .author-box {
    margin-bottom: 40px;
  }
  #author-team-page .author-box > a {
    position: relative;
    text-align: center;
    left: 0px;
    margin: 0px auto 10px;
  }
  #author-team-page .author-box p.follow {
    margin: 0px 0px;
  }
  #author-team-page .author-box .desc {
    margin-bottom: 10px;
  }
}
@media all and (max-width: 550px) {
  .sidebar-border .sidebar .module-timeline article.def {
    padding-left: 25%;
  }
  #page-footer .links-footer [class^='col'] {
    width: 100% !important;
    max-width: 100% !important;
    flex-basis: auto !important;
    margin-bottom: 10px !important;
  }
  #page-footer .links-footer h3 {
    width: 100% !important;
    text-align: center !important;
    margin: 10px 0px !important;
  }
  #page-footer .links-footer ul {
    width: 100% !important;
    padding-left: 0px !important;
  }
  #page-footer .links-footer ul li {
    text-align: center !important;
  }
}
@media all and (max-width: 380px) {
  .breadcrumb {
    display: none;
  }
  .sidebar-border .sidebar .module-timeline article.def {
    padding-left: 5%;
  }
  .sidebar-border .sidebar .module-photos [class^='col'] {
    width: 100% !important;
  }
  .sidebar-border .sidebar .module-photos .gallery-sidebar [class^='col'] article {
    height: 220px !important;
  }
  .sidebar-border .sidebar .module-photos .gallery-sidebar [class^='col'] article a {
    height: 220px !important;
  }
  .sidebar-border .sidebar .block-archive figure {
    height: 60px !important;
  }
  .sidebar-border .sidebar figure > a img {
    width: 170% !important;
  }
  .page-search .entry-meta > * {
    display: block !important;
    margin: 5px 0px!important;
  }
  .filter-category .btn-group button {
    width: 100% !important;
    margin-top: 10px !important;
    line-height: 25px !important;
    height: 25px !important;
  }
  .page-categories .row article.def div.entry {
    width: 100% !important;
    margin: 0px !important;
  }
  .page-categories .row article.def div.entry .entry-meta > *:not(.file-date) {
    display: block !important;
    margin: 5px 0px!important;
  }
}
