/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 22-sep-2017, 0:01:47
    Author     : Gabriel
*/
/******************************************************************************/
/* Imports*/
/******************************************************************************/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 22-sep-2017, 0:01:47
    Author     : Gabriel
*/
/******************************************************************************/
/* Variables */
/******************************************************************************/
/* SIZES */
/* COLOURS */
/* FUNCTIONS*/
/******************************************************************************/
/* General */
/******************************************************************************/
* {
  outline: none !important;
}
*:not(i):not(.glyphicon) {
  font-family: 'Roboto', sans-serif !important;
}
a:focus,
a:hover {
  text-decoration: none !important;
}
time {
  text-transform: capitalize;
}
.image-stylized {
  -webkit-filter: contrast(75%) saturate(80%);
  filter: contrast(75%) saturate(80%);
}
figure img {
  -webkit-filter: contrast(75%) saturate(80%);
  filter: contrast(75%) saturate(80%);
}
article.def figure.overlay a.thumb-overlay:before {
  height: 100% !important;
}
.article-post.clearfix {
  margin-bottom: 0px;
}
a[href^="mailto"] {
  color: #2f5888 !important;
}
/* Image block */
article figure {
  height: 100%;
}
article figure figcaption {
  height: 100%;
}
article figure figcaption .entry {
  height: 100%;
  position: relative;
}
article figure figcaption .entry [itemprop=name] {
  height: 47%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  bottom: 75px;
  position: absolute;
  left: 0;
  right: 0;
  margin-bottom: 0px;
}
article figure figcaption .entry [itemprop=name] a {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0px;
  padding: 5px;
}
article figure figcaption .entry .entry-category {
  position: absolute;
  bottom: 35px;
  left: 0px;
  right: 0px;
}
article figure figcaption .entry .post-meta {
  position: absolute;
  bottom: 15px;
  left: 0px;
  right: 0px;
}
article figure > a {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}
article figure > a img {
  max-width: none !important;
  width: auto !important;
  height: 150% !important;
}
article > a {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}
article > a img {
  max-width: none !important;
  width: auto !important;
  height: 150% !important;
}
/******************************************************************************/
/* Top Menu */
/******************************************************************************/
#page-header {
  background-color: #1c334f;
}
#page-header-mobile {
  background-color: #15273c;
}
.mm-menu {
  background: #15273c;
}
#header-navigation {
  border-color: #15273c;
  background-color: #15273c;
}
#header-navigation .dropnav-container .dropnav-menu li a {
  background: white;
  color: #15273c;
  min-width: 160px !important;
}
#header-navigation .dropnav-container .dropnav-menu li a:hover {
  background: gray;
}
#header-navigation .dropnav-container .dropnav-menu li ul li:hover {
  cursor: pointer;
}
#header-navigation .dropnav-container .dropnav-menu li ul li:hover > a {
  color: #ffffff !important;
  background: gray !important;
}
#header-navigation a i.fa,
#header-navigation a span.glyphicon,
#header-navigation .subnav-container .subnav-menu li.current a {
  color: #15273c;
}
#header-branding,
#header-branding h1,
#header-branding div.logo,
#header-branding .ad,
#header-branding .wrap-container {
  height: 70px;
  margin: 0px !important;
  padding: 0px !important;
}
#header-branding a {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}
.dropnav-container {
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-top: none;
}
.dropnav-container ul li ul {
  border: solid 1px rgba(0, 0, 0, 0.2);
}
/*.dropnav-container ul li ul li:first-child{
	border-left: solid 2px white;
    position: relative;
    left: -1px;
}*/
#header-branding #search-form,
#header-branding #search-form button {
  border-color: #ffffff;
}
#header-branding #search-form input,
#header-branding #search-form input::-webkit-input-placeholder {
  color: #ffffff !important;
}
.logo-principal {
  height: calc(80%);
}
.logo-sticky {
  height: 100%;
}
#input-search-menu {
  outline: none;
  color: white !important;
  border-radius: 2px;
}
#button-search-menu {
  outline: none;
}
#button-search-menu span {
  opacity: 0.8;
}
#button-search-menu span:hover {
  opacity: 1;
}
.menu-login a i,
.search-nav a i {
  color: white !important;
}
.menu-login a:hover,
.search-nav a:hover {
  background: white !important;
}
.menu-login a:hover i,
.search-nav a:hover i {
  color: #333333 !important;
}
.soc-media a i {
  color: white !important;
}
.soc-media a:hover {
  background-color: transparent !important;
}
.soc-media:hover a {
  background: transparent !important;
}
.logo-seaep {
  float: right !important;
  width: auto;
  position: absolute !important;
  right: 0px;
  top: 2px;
  height: 100%;
}
.logo-seaep img {
  width: auto;
  height: 90%;
}
.dropdown-rrss {
  display: none;
}
@media (max-width: 1370px) {
  .soc-media {
    display: none !important;
  }
  .dropdown-menu-right {
    left: auto !important;
  }
  .dropdown-rrss {
    display: block !important;
  }
}
.affix #main-menu span.sticky-logo,
.wrap-header-layout-none #main-menu span.sticky-logo {
  background: none !important;
  width: 50px;
  margin-left: 0px !important;
}
.affix #main-menu span.sticky-logo img,
.wrap-header-layout-none #main-menu span.sticky-logo img {
  height: 100%;
  width: auto;
  padding: 10px;
}
.affix #main-menu ul.nav,
.wrap-header-layout-none #main-menu ul.nav {
  padding-left: 50px;
}
.affix #main-menu ul.nav li:first-child,
.wrap-header-layout-none #main-menu ul.nav li:first-child {
  display: block !important;
}
.wrap-header-layout-none #main-menu ul.nav li a {
  background: transparent !important;
  color: white !important;
}
.wrap-header-layout-none #main-menu ul.nav li a:hover {
  background: white !important;
  color: black !important;
}
#header-navigation .dropnav-container .dropnav-menu li a {
  background: transparent;
}
#header-navigation .dropnav-container .dropnav-menu li a:hover {
  color: white !important;
}
#header-navigation .dropnav-container .dropnav-menu li a:hover i {
  color: white !important;
}
#header-navigation .dropnav-container .dropnav-menu li::after {
  color: grey !important;
}
#header-navigation .dropnav-container .dropnav-menu li:hover::after {
  color: white !important;
}
.search-nav {
  float: right;
  display: none !important;
}
.search-nav a {
  background-color: transparent !important;
  color: white !important;
}
.search-nav a i {
  color: white !important;
}
.search-nav a:hover {
  background: white !important;
}
.search-nav a:hover i {
  color: #333333 !important;
}
.search-nav a:hover::after {
  color: #333333 !important;
}
.search-nav.open:hover a {
  background-color: white !important;
  color: #15273c !important;
}
.search-nav.open > a {
  background-color: white !important;
}
.search-nav.open > a i {
  color: #15273c !important;
}
.search-nav.open .dropdown-toggle::after {
  color: #15273c !important;
}
.search-nav .dropdown-menu-right {
  left: 0px;
  border: none;
  padding: 15px !important;
  min-width: 250px;
}
.search-nav .dropdown-menu-right #nav-search {
  margin-left: 0px !important;
  width: 100% !important;
}
.search-nav .dropdown-menu-right .form-group {
  width: 100%;
}
.search-nav .dropdown-menu-right #input-search-menu {
  border: none !important;
  padding: 0px !important;
  margin: 0px !important;
  margin-left: 0px !important;
  position: relative;
  height: 100% !important;
  width: 100% !important;
  color: #2f5888 !important;
}
.affix .search-nav {
  display: block !important;
}
#header-navigation ul li ul,
#header-navigation ul li ul li {
  box-shadow: none !important;
}
#header-navigation ul li {
  position: relative;
}
#header-navigation ul li a {
  font-weight: normal !important;
}
.menu-link.main-menu-link {
  padding: 0px 15px !important;
}
#main-menu {
  height: 100%;
}
.affix .logo-seaep {
  display: none;
}
/******************************************************************************/
/* Button to top*/
/******************************************************************************/
#btn-go-top {
  height: 40px;
  width: 40px;
  background: GREY;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 1em;
  text-align: center;
  line-height: 40px;
  display: none;
  cursor: pointer;
  color: white;
  z-index: 999;
  border: solid 1px white;
}
/******************************************************************************/
/* Mobile Menu */
/******************************************************************************/
.logo-menu-mobile {
  height: 40px;
  margin: 5px 0px;
}
#page-header-mobile .logo {
  text-align: left;
}
#page-header-mobile {
  position: fixed;
  width: 100%;
}
/******************************************************************************/
/* Left Menu */
/******************************************************************************/
.logo-menu-left {
  width: 100%;
  position: relative;
  display: block;
  z-index: 99;
  text-align: center;
}
.logo-menu-left img {
  max-height: 70px;
  width: auto;
  margin-top: 10px;
}
#search-form-mobile {
  position: relative;
}
#search-form-mobile button {
  border: none;
  outline: none;
  background: transparent;
  position: absolute;
  right: 20px;
  top: 15px;
  color: rgba(255, 255, 255, 0.6);
}
.mm-menu .mm-search input {
  background: rgba(255, 255, 255, 0.4);
  color: #ffffff;
}
.mm-menu .mm-search input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ffffff;
}
.mm-menu .mm-search input::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff;
}
.mm-menu .mm-search input:-ms-input-placeholder {
  /* IE 10+ */
  color: #ffffff;
}
.mm-menu .mm-search input:-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff;
}
.mm-menu > .mm-search {
  width: 100%;
  margin-top: 15px;
  top: 0px;
  left: 0px;
}
#mobile-menu ul li a,
#mobile-menu ul li a.mm-subopen {
  border-left: 0px solid transparent;
}
#mobile-menu ul li a:hover {
  background: rgba(0, 0, 0, 0.1);
}
#mobile-menu ul li a.mm-subopen:hover {
  background: transparent;
}
#mobile-menu ul li a.mm-subopen:hover + a {
  background: rgba(0, 0, 0, 0.1);
}
.nav > li > a:focus,
.nav > li > a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#mobile-menu.mm-menu .mm-list {
  padding-top: 150px !important;
}
#mobile-menu.mm-menu .mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-search):not(.mm-noresults):after {
  margin-left: 0px;
  margin-right: 0px;
}
#mobile-menu.mm-menu .mm-list > li.mm-subtitle:after {
  content: '';
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-color: rgba(255, 255, 255, 0.1);
}
#mobile-menu.mm-menu .mm-list > li:first-child:not(.mm-subtitle):not(.mm-label):not(.mm-search):not(.mm-noresults):before {
  content: '';
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-color: rgba(255, 255, 255, 0.1);
}
#mobile-menu.mm-menu .mm-list > li:after {
  border-color: rgba(255, 255, 255, 0.1);
}
#mobile-menu.mm-menu .mm-list > li > a.mm-subopen:before {
  border-color: transparent;
}
#mobile-menu.mm-menu .mm-menu .mm-list > li > a.mm-subopen:after,
#mobile-menu.mm-menu .mm-menu .mm-list > li > a.mm-subclose:before {
  border-color: rgba(255, 255, 255, 0.6);
}
#mobile-menu.mm-menu a.mm-subopen {
  top: -1px;
}
#mobile-menu.mm-menu a.mm-subopen + a,
#mobile-menu.mm-menu a.mm-subopen .mm-list a.mm-subopen + span {
  padding-right: 0px;
  margin-right: 0px;
}
/******************************************************************************/
/* Sidebar */
/******************************************************************************/
.module-timeline article.def {
  padding-left: 20px;
}
.pbThumbs li.active a img {
  border-color: #2f5888;
}
/******************************************************************************/
/* Aside Right */
/******************************************************************************/
#style-selector {
  box-shadow: none;
  border-left: solid 1px #15273c;
}
#style-selector #style-selector-container {
  padding: 50px 40px;
}
#style-selector .style-toggle {
  border: solid 1px #15273c;
  border-right: solid 0px transparent;
  margin-top: 175px !important;
}
#style-selector .ss-content {
  margin: 0px;
}
#style-selector .style-toggle:before {
  color: #2f5888 !important;
  content: "\f003" !important;
}
.ss-title {
  color: #2f5888 !important;
}
.buy-button {
  background-color: #2f5888 !important;
}
.buy-button:hover {
  background-color: #15273c !important;
}
/******************************************************************************/
/* Home */
/******************************************************************************/
#top-grid {
  /*margin: 50px auto 20px auto;*/
}
#top-content .shadow-top-left {
  margin: 0px !important;
}
#top-content span.entry-category.parent-cat-3 a {
  color: #2f5888 !important;
}
.entry-category a {
  color: #2f5888 !important;
}
#home-content .articles article .col-sm-4 {
  /*padding-left: 15px !important;*/
  padding-right: 15px !important;
}
.main .content-container {
  padding-top: 20px !important;
}
.main .section-full {
  /*margin-right: -27px !important;*/
}
.last-section span.borderline:after {
  background-color: white !important;
}
.mip-ajax-nav a {
  color: #2f5888;
  border: 1px solid #2f5888;
}
.mip-ajax-nav a:hover {
  background: #2f5888;
  border-color: #2f5888;
  color: #fff;
}
.mip-ajax-nav a.disabled:hover {
  color: #2f5888;
}
.vc-block-fx #page-content header span.borderline:after {
  background-color: #2f5888;
}
#top-grid time.entry-date {
  margin-right: 0px;
}
#top-grid > .row [class^='col'] article {
  height: 220px;
  overflow: hidden;
}
#top-grid > .row .col-md-6 article {
  height: 440px;
}
#top-content > .row [class^='col'] article {
  height: 200px;
  overflow: hidden;
}
#home-content article {
  height: auto !important;
  overflow: hidden;
}
#home-content article [class^='col']:first-child {
  height: 150px;
}
#home-content article .text {
  margin-top: 0px !important;
}
#block-faqs {
  margin-bottom: 0px !important;
}
#block-faqs .mip-ajax-nav a {
  cursor: pointer;
  color: #2f5888;
  border: 1px solid #2f5888;
}
#block-faqs .mip-ajax-nav a:hover {
  background-color: #2f5888;
  color: #ffffff;
}
#block-faqs .mip-ajax-nav a.disabled {
  cursor: auto;
}
#block-faqs .mip-ajax-nav a.disabled:hover {
  background-color: #ffffff;
  color: #2f5888;
}
#block-faqs .articles {
  overflow: hidden;
}
#block-faqs .articles article figure {
  height: 200px;
}
#block-faqs .articles .row {
  height: 400px;
}
#block-faqs .articles .row [class^='col'] {
  position: absolute;
  transition: left ease-out 0.4s;
  left: -33.33%;
}
#block-faqs .entry-autor {
  margin-top: 10px;
  display: block;
}
#block-faqs .entry-autor i {
  margin-right: 5px;
}
#block-faqs[data-page="1"] .articles .row [class^='col']:nth-child(1) {
  left: 0%;
}
#block-faqs[data-page="1"] .articles .row [class^='col']:nth-child(2) {
  left: 33.33%;
}
#block-faqs[data-page="1"] .articles .row [class^='col']:nth-child(3) {
  left: 66.66%;
}
#block-faqs[data-page="1"] .articles .row [class^='col']:nth-child(4) {
  left: 99.98999999999999%;
}
#block-faqs[data-page="1"] .articles .row [class^='col']:nth-child(5) {
  left: 133.32%;
}
#block-faqs[data-page="1"] .articles .row [class^='col']:nth-child(6) {
  left: 166.65%;
}
#block-faqs[data-page="1"] .articles .row [class^='col']:nth-child(7) {
  left: 199.98%;
}
#block-faqs[data-page="1"] .articles .row [class^='col']:nth-child(8) {
  left: 233.31%;
}
#block-faqs[data-page="1"] .articles .row [class^='col']:nth-child(9) {
  left: 266.64%;
}
#block-faqs[data-page="1"] .articles .row [class^='col']:nth-child(10) {
  left: 299.97%;
}
#block-faqs[data-page="1"] .articles .row [class^='col']:nth-child(11) {
  left: 333.3%;
}
#block-faqs[data-page="1"] .articles .row [class^='col']:nth-child(12) {
  left: 366.63%;
}
#block-faqs[data-page="2"] .articles .row [class^='col']:nth-child(1) {
  left: -99.98999999999999%;
}
#block-faqs[data-page="2"] .articles .row [class^='col']:nth-child(2) {
  left: -66.66%;
}
#block-faqs[data-page="2"] .articles .row [class^='col']:nth-child(3) {
  left: -33.33%;
}
#block-faqs[data-page="2"] .articles .row [class^='col']:nth-child(4) {
  left: 0%;
}
#block-faqs[data-page="2"] .articles .row [class^='col']:nth-child(5) {
  left: 33.33%;
}
#block-faqs[data-page="2"] .articles .row [class^='col']:nth-child(6) {
  left: 66.66%;
}
#block-faqs[data-page="2"] .articles .row [class^='col']:nth-child(7) {
  left: 99.98999999999999%;
}
#block-faqs[data-page="2"] .articles .row [class^='col']:nth-child(8) {
  left: 133.32%;
}
#block-faqs[data-page="2"] .articles .row [class^='col']:nth-child(9) {
  left: 166.65%;
}
#block-faqs[data-page="2"] .articles .row [class^='col']:nth-child(10) {
  left: 199.98%;
}
#block-faqs[data-page="2"] .articles .row [class^='col']:nth-child(11) {
  left: 233.31%;
}
#block-faqs[data-page="2"] .articles .row [class^='col']:nth-child(12) {
  left: 266.64%;
}
#block-faqs[data-page="3"] .articles .row [class^='col']:nth-child(1) {
  left: -199.98%;
}
#block-faqs[data-page="3"] .articles .row [class^='col']:nth-child(2) {
  left: -166.65%;
}
#block-faqs[data-page="3"] .articles .row [class^='col']:nth-child(3) {
  left: -133.32%;
}
#block-faqs[data-page="3"] .articles .row [class^='col']:nth-child(4) {
  left: -99.98999999999999%;
}
#block-faqs[data-page="3"] .articles .row [class^='col']:nth-child(5) {
  left: -66.66%;
}
#block-faqs[data-page="3"] .articles .row [class^='col']:nth-child(6) {
  left: -33.33%;
}
#block-faqs[data-page="3"] .articles .row [class^='col']:nth-child(7) {
  left: 0%;
}
#block-faqs[data-page="3"] .articles .row [class^='col']:nth-child(8) {
  left: 33.33%;
}
#block-faqs[data-page="3"] .articles .row [class^='col']:nth-child(9) {
  left: 66.66%;
}
#block-faqs[data-page="3"] .articles .row [class^='col']:nth-child(10) {
  left: 99.98999999999999%;
}
#block-faqs[data-page="3"] .articles .row [class^='col']:nth-child(11) {
  left: 133.32%;
}
#block-faqs[data-page="3"] .articles .row [class^='col']:nth-child(12) {
  left: 166.65%;
}
#block-faqs[data-page="4"] .articles .row [class^='col']:nth-child(1) {
  left: -299.97%;
}
#block-faqs[data-page="4"] .articles .row [class^='col']:nth-child(2) {
  left: -266.64%;
}
#block-faqs[data-page="4"] .articles .row [class^='col']:nth-child(3) {
  left: -233.31%;
}
#block-faqs[data-page="4"] .articles .row [class^='col']:nth-child(4) {
  left: -199.98%;
}
#block-faqs[data-page="4"] .articles .row [class^='col']:nth-child(5) {
  left: -166.65%;
}
#block-faqs[data-page="4"] .articles .row [class^='col']:nth-child(6) {
  left: -133.32%;
}
#block-faqs[data-page="4"] .articles .row [class^='col']:nth-child(7) {
  left: -99.98999999999999%;
}
#block-faqs[data-page="4"] .articles .row [class^='col']:nth-child(8) {
  left: -66.66%;
}
#block-faqs[data-page="4"] .articles .row [class^='col']:nth-child(9) {
  left: -33.33%;
}
#block-faqs[data-page="4"] .articles .row [class^='col']:nth-child(10) {
  left: 0%;
}
#block-faqs[data-page="4"] .articles .row [class^='col']:nth-child(11) {
  left: 33.33%;
}
#block-faqs[data-page="4"] .articles .row [class^='col']:nth-child(12) {
  left: 66.66%;
}
.three-articles .articles article figure,
.last-section .articles article figure {
  height: 150px;
}
.module-reviews article figure {
  margin: 10px auto;
  height: 180px !important;
  width: 180px !important;
}
.block-archive figure {
  height: 100px !important;
}
.gallery-sidebar article {
  height: 220px !important;
  overflow: hidden;
}
.gallery-sidebar article a {
  height: 220px !important;
}
.gallery-sidebar [class^='col'] article {
  height: calc(220px /2) !important;
}
.gallery-sidebar [class^='col'] article a {
  height: calc(220px /2) !important;
}
.sidebar-category figure {
  height: 60px !important;
}
/******************************************************************************/
/* Search */
/******************************************************************************/
@media (min-width: 992px) {
  .page-search article.def {
    margin-left: 200px !important;
    min-height: 280px;
  }
  .page-search article.def time.entry-date {
    position: absolute;
    left: -300px;
    top: 8px;
    width: 270px;
    text-align: right;
  }
  .page-search article.def time.entry-date:before {
    content: '';
  }
  .page-search article.def time.entry-date:after {
    font-family: "FontAwesome";
    font-size: 18px;
    content: '\f133';
    background: #fff;
    color: #bbb;
    top: 17px;
    position: absolute;
    right: -38px;
    top: -1px;
  }
  .page-search article.def figure {
    position: absolute;
    left: -185px;
    top: 28px;
    width: 270px;
  }
}
.page-search .search-form {
  margin-bottom: 50px;
}
.page-search .search-form input[type=text] {
  color: #2f5888 !important;
}
.page-search article.def {
  border-left: 1px solid #eee;
  padding: 0 0 20px 30px;
  margin: 0 0 0 5px;
}
.page-search article.def h3 {
  margin-bottom: 0px !important;
}
.page-search article.def .subtitle {
  margin-bottom: 10px;
}
.page-search article.def time.entry-date {
  display: inline-block;
  margin-bottom: 10px;
}
.page-search article.def time.entry-date:before {
  font-size: 20px;
  margin: 0 20px 0 -40px;
  background: #fff;
  color: #bbb;
  top: 19px;
  position: absolute;
}
.page-search article.def figure {
  height: 150px;
  width: 150px;
  margin-top: 5px;
  margin-bottom: 0px;
}
.page-search article.def figure img {
  height: 130% !important;
}
.page-search article.def div.text {
  margin-top: 10px;
}
.page-search article.def div.entry-meta a {
  visibility: visible;
  opacity: 1;
}
.page-search mark {
  padding: 1px;
  background-color: #444444;
  color: white;
}
.page-search .container-404 {
  padding: 0px;
}
/******************************************************************************/
/* Item View */
/******************************************************************************/
.breadcrumb {
  margin: 10px 0 25px 0;
}
.post-navigation {
  padding: 0px;
  margin: 50px 0px;
}
.image-item.head-image {
  height: 400px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-item.head-image img {
  height: 150%;
  width: auto;
  max-width: none;
}
.article-post header .entry-meta {
  text-transform: capitalize;
}
.article-post .article-post-content a {
  color: #2f5888 !important;
  font-weight: bold !important;
}
.author-box {
  background-color: #e9e9e9;
  margin-bottom: 50px;
}
.author-box .div-avatar {
  position: absolute;
  left: 30px;
  z-index: 1;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0px 3px 0px 0px #ddd;
  height: 120px;
  width: 120px;
  overflow: hidden;
}
.author-box .div-avatar a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.author-box .div-avatar a img {
  max-width: none !important;
  width: auto !important;
  height: 130% !important;
  left: auto;
  right: auto;
}
#related-posts figure {
  height: 160px !important;
}
#others-viewed header {
  margin: 0px;
}
#others-viewed .row {
  margin-top: 20px;
}
#others-viewed .row::after {
  display: none;
}
#others-viewed .entry {
  top: 0px;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
#others-viewed .entry .entry-category::before {
  display: none;
}
#others-viewed .entry-category a {
  color: #2f5888 !important;
}
#others-viewed .shadow-box {
  padding-top: 0px;
}
#others-viewed figure {
  height: 160px !important;
}
#others-viewed [class^='col']:last-child {
  border-right: 0px;
}
#others-viewed.home-others-viewed .entry-category a {
  color: white !important;
}
/******************************************************************************/
/* Category View */
/******************************************************************************/
.search-category input[type=text] {
  width: 100%;
}
.filter-category .btn-group {
  width: 100%;
}
.filter-category .btn-group button {
  border: 1px solid #D3D8D9 !important;
  line-height: 38px;
  height: 40px;
  background: transparent;
  padding: 0 5px;
  width: 45%;
  box-shadow: none !important;
  float: right;
  border-radius: 0px;
}
.filter-category .btn-group button:hover {
  border: 1px solid #D3D8D9 !important;
  background: transparent;
}
.filter-category .btn-group button:focus {
  border: 1px solid #D3D8D9 !important;
}
.filter-category .btn-group button span {
  color: #D3D8D9;
  position: relative;
  top: 2px;
  left: 3px;
}
.article-post .h2-categories {
  margin: 0px !important;
  margin-top: 20px !important;
}
.h2-categories {
  font-size: 2em !important;
  color: #5c5c5c !important;
  margin-top: 20px !important;
}
.h2-categories a {
  color: #5c5c5c !important;
}
.h2-categories.item {
  font-size: 1.5em !important;
}
.page-categories .row {
  margin: 0;
}
.page-categories .row article.def {
  margin-bottom: 0px;
  width: 100%;
}
.page-categories .row article.def figure {
  height: 200px !important;
}
.page-categories .row article.def figure > a img {
  max-width: 150% !important;
  width: 150% !important;
  height: auto !important;
}
.page-categories .row article.def figure.overlay figcaption div.entry-meta {
  padding: 10px 14px;
}
.page-categories .row article.def div.entry {
  position: relative;
  top: -60px;
  z-index: 10;
  padding: 10px 15px 15px 15px;
  margin: 0 20px 10px 20px;
  background: #fff;
}
.page-categories .row article.def div.entry .entry-category::before {
  font-family: "FontAwesome";
  content: '\f044';
  margin-right: 8px;
}
.page-categories .row article.def div.entry a {
  opacity: 1;
  visibility: visible;
}
.page-categories .row article.def h2 {
  margin-top: 0 !important;
}
.page-categories .row article.def span.text {
  display: block;
  line-height: 20px;
  margin: 15px 0 0 0;
}
.page-categories .row article.def span.text a.more-link {
  background: #d61403;
  display: inline-block;
  margin: 0px;
  padding: 0 15px;
  line-height: 30px;
  color: #fff;
  background: #444;
}
.page-categories a.btn-fa-icon,
.page-categories article.def span.text a.more-link {
  background: #d61403;
}
.read-more-category a {
  font-size: 1em;
  text-align: center;
  background: grey;
  color: white !important;
  padding: 10px;
  display: block;
}
.page-static .back-home {
  margin: 50px auto;
}
.page-static .back-home a {
  font-size: 1em;
  text-align: center;
  background: grey;
  padding: 10px;
  display: block;
  color: white !important;
}
/******************************************************************************/
/* Author page */
/******************************************************************************/
.author-items h1 {
  font-size: 1em;
  text-align: center;
  width: 100%;
}
.author-items [class^='col'] {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.author-items .def.def-medium {
  margin-bottom: 30px;
}
#author-team-page .author-box > a {
  height: 115px;
  width: 115px;
  display: block;
  position: absolute;
  left: 30px;
  overflow: hidden;
  z-index: 1;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0px 3px 0px 0px #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}
#author-team-page .author-box > a img {
  left: auto;
  height: 130%;
  width: auto;
  max-width: none;
}
#author-team-page .author-box p.name {
  margin-bottom: 0px;
}
/******************************************************************************/
/* Static page */
/******************************************************************************/
.page-static a,
.page-static h2,
.page-static b {
  color: #2f5888 !important;
}
.page-static h2 {
  font-size: 1.5em;
}
.page-static ul li {
  list-style-type: none;
}
/******************************************************************************/
/* Contact page */
/******************************************************************************/
#form-contact {
  width: 60%;
  margin: 30px auto;
}
#map-contact {
  width: 100%;
  height: 150px;
  margin: 30px auto 0px;
}
#map-contact .gmnoprint {
  display: none;
}
#map-contact .gm-style-cc {
  display: none;
}
#map-contact img[src="https://maps.gstatic.com/mapfiles/api-3/images/google4.png"] {
  display: none;
}
#submap-contact {
  width: 100%;
  margin: 0px;
  background: #444444;
  padding: 2px 10px;
}
#submap-contact p {
  color: white;
  margin: 0px;
}
#submap-contact p.title {
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
  margin-bottom: 5px;
}
/******************************************************************************/
/* Forms */
/******************************************************************************/
.ss-content {
  border-top: 1px solid #ddd;
  padding-top: 25px;
}
.form-contact h1.response {
  color: #2f5888;
  font-size: 1em;
  border-bottom: solid 1px #2f5888;
  width: 100%;
  text-align: center;
  padding: 3px;
  margin: 10px auto;
}
.form-contact label {
  width: 100%;
  display: block;
  margin-bottom: 0px;
  font-weight: normal;
}
.form-contact .field {
  width: 100%;
  display: block;
  padding: 2px 5px;
  margin-bottom: 10px;
  border: 1px solid #D3D8D9;
  border-radius: 2px;
}
.form-contact input[type="submit"] {
  height: 30px;
  line-height: 30px;
  font-size: 1em;
}
/******************************************************************************/
/* Footer */
/******************************************************************************/
#page-footer {
  border-bottom: 0px solid transparent;
}
#page-footer .copyright {
  background-color: #444444;
}
.links-footer [class^='col'] h3 {
  font-size: 1em;
  width: 50%;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
  text-align: left;
}
.links-footer [class^='col'] ul li {
  text-align: left;
  list-style: none;
}
#footer-section-bottom {
  padding: 40px 0;
}
#footer-section-bottom .widget {
  margin-top: -20px;
}
#footer-section-bottom .seaep {
  margin-bottom: 20px;
  width: 300px;
  height: auto;
}
/******************************************************************************/
/* 404 */
/******************************************************************************/
.container-404 {
  padding: 100px 0px 80px;
}
.container-404 img {
  width: 150px !important;
  height: auto;
  margin: 20px auto;
}
.container-404 h1 {
  font-size: 10em;
  line-height: 1em;
  text-align: center;
  margin: 0px;
}
.container-404 h3 {
  margin: 0px;
  position: relative;
  text-align: center;
  top: -10px;
}
.container-404 h5 {
  margin: 0px;
  text-align: center;
}
.container-404 a {
  color: #2f5888 !important;
}
/******************************************************************************/
/* Cookies Bar */
/******************************************************************************/
#cookies-bar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 999999;
  display: block;
  border-top: solid 2px #15273c;
}
#cookies-bar #infobox {
  margin: auto;
  position: relative;
  top: 0px;
  height: auto;
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  color: #15273c;
  padding: 7px 15px;
}
#cookies-bar #infobox p {
  font-size: 12px;
  text-align: center;
  margin-bottom: 0px;
  line-height: 25px;
}
#cookies-bar #infobox p a {
  color: #15273c;
}
#cookies-bar #infobox .btn-accept {
  margin-left: 5px;
  background-color: #15273c;
  color: white;
  padding: 4px 15px;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  top: -1px;
}
